<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>BILL</title>
</head>
<body>
    <%=rId %>
    <%=customer.f_name %>
    <%=customer.l_name %>
    <%=customer.adds %>
    <%=customer.age %>
    <%=customer.email %>
    <%=customer.ph_no %>
    <%=reservation.check_in %>
    <%=reservation.check_out %>
    <%=amount%>
</body>
</html>