<%- include('partials/header.ejs')%>



<p class="curdate"></p> 
    <%=rId %>
    <%=customer.f_name %>
    <%=customer.l_name %>
    <%=customer.adds %>
    <%=customer.age %>
    <%=customer.email %>
    <%=customer.ph_no %>
    <%=reservation.check_in %>
    <%=reservation.check_out %>
    <%=amount%>
    <%=day%>
<button onclick="window.print()">Print this page</button>

<%- include ('partials/footer.ejs')%> 