<%- include('partials/header.ejs')%>

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-4"><strong>&#9813; GOTHAM ROYAL</strong></h1>
            <h3 class="pl-3">Experience The Royal Life For Once</h3>
            <p class="lead pl-3">Hotel GOTHAM ROYAL is located in the heart of the historic center of Wakanda in an extremely characteristic, quite and lively area within 
              short walk distance to all sites and is surrounded by the extraordinary beauty of buildings, shops and monuments.On entering this charming hotel in
               Wakanda, you will immediately sense its special intimate atmosphere that makes you feel like being in your own castle.
            </p>
            <!-- 
                            <p class="lead pl-3">Hotel GOTHAM ROYAL is located in the heart of the historic center of Wakanda in an extremely characteristic, quite and lively area within 
              short walk distance to all sites and is surrounded by the extraordinary beauty of buildings, shops and monuments.On entering this charming hotel in
               Wakanda, you will immediately sense its special intimate atmosphere that makes you feel like being in your own castle.
            </p>
             -->
            <!-- 
                    <p class="lead pl-3">Hotel GOTHAM ROYAL is located in the heart of the historic center of Wakanda in an extremely characteristic, quite and lively area within 
                      short walk distance to all sites and is surrounded by the extraordinary beauty of buildings, shops and monuments.On entering this charming hotel in
                   Wakanda, you will immediately sense its special intimate atmosphere that makes you feel like being in your own castle.
                     </p>
             -->
            <% if(currentUser){ %>
                <a class="btn btn-lg btn-dark" href="/rooms/new">ADD NEW ROOM</a>
                <a style="color: aliceblue; margin-left: 10px;" class="btn btn-lg btn-outline-primary" href="/data">Booking Details</a>
                <!-- <a style="color: aliceblue; margin-left: 10px;" class="btn btn-lg btn-outline-primary" href="/employees">Employee Details</a> -->
            <% } %>
        </div>
        
    </div>

    <div class="container-fluid">
        <% for(var i = 0; i<room.length; i++) {%>
            <div class="card mb-3" >
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img class="card-img-top" src="<%=room[i].image %>" alt="Card image cap">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title"><%=room[i].room_name %></h2>
                            <p class="card-text"><%=room[i].room_desc.substring(0,300) %>....</p>
                            <p class="card-text "><strong>&#9813;</strong> <%=room[i].room_type %></i> </p>
                            <p class="card-text "><i class="fas fa-wifi"></i> Complimentary WiFi</p>
                            <article>
                                <p class="card-text ">&#10066; <%=room[i].room_size %> sq Mt</p>
                                <p class="card-text "><i class="fas fa-swimmer"></i> Swimming Pool</p>
                            </article>
                            <section>
                                <h3 class="text-primary"> $ <%=room[i].price %><sup>*</sup></h3>
                                <p>Starting Rate/Night</p>
                            </section>
                            <a href="/rooms/<%=room[i].id %>" class=" float-right btn btn-primary">VIEW DETAILS</a>
                        </div>
                    </div> 
                </div>
            </div>
        <% } %>
    </div>

<%- include ('partials/footer.ejs')%> 