<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <button><a class="btn btn-lg" href="/rooms/new">ADD ROOM</a></button>
        <div class="container">
            <div class="row">
                <% for(var i = 0; i<room.length; i++) {%>
                    <div class="col-4">
                        <div class="card" style="width: 22rem;">
                            <img class="card-img-top" src="<%=room[i].image %>" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title"><%=room[i].room_name %></h5>
                              <p class="card-text"><%=room[i].room_type %> <span class="justify-content-end text-primary"><%=room[i].price %> Rs</span></p>
                              <a href="/rooms/<%=room[i].id %>" class="btn btn-primary">VIEW DETAILS</a>
                            </div>
                        </div>
                    </div>
               <% } %>
            </div>
        </div>
    </div> 
</body>
</html>