<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <img src="<%= rm[0].image %>" alt="">
        <h1><%= rm[0].room_name %></h1>
        <h2><%= rm[0].room_type %></h2>
        <h5><%= rm[0].price %></h5>

        <a class="btn btn-lg btn-success" href="/rooms/<%= rm[0].id %>/edit"> edit</a>
        <form action="/rooms/<%= rm[0].id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
        <a class="btn btn-lg btn-success" href="/rooms/<%= rm[0].id %>/reservation"> Book room</a>
    </div>

    
</body>
</html>